a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
}

blockquote {
  margin-right: 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

p.date::before {
  content: "Latest update: ";
}
